<div class="container">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>Mysz nr F1#</th>
            <th>Doświadczenia</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @mice.each do |mouse| %>
            <tr>
              <td><%= mouse.number %></td>
              <td><%= mouse.experiments %></td>
              <td><%= link_to 'Szczegóły', mouse, class: "btn btn-info btn-xs"  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br/>

<%= link_to 'Dodaj mysz', new_mouse_path, class: "btn btn-primary btn-sm" %>
