<p>
  <strong>Tytuł:</strong>
  <%= @protocol.title %>
</p>

<p>
  <strong>Protokół:</strong>
  <%= @protocol.content %>
</p>

<%= link_to 'Edytuj', edit_protocol_path(@protocol), class: "btn btn-warning btn-sm" %> 
<%= link_to 'Powrót', protocols_path, class: "btn btn-info btn-sm" %>
